{% extends "_layout.html" %}

{% block title %}Index{% endblock title%}

{% block content %}
<h1>Todo</h1>
<form method="post" action="/todos" hx-target="ol" hx-on::after-request="this.reset()">
    <label for="todo">Add Todo: </label>
    <input type="text" id="description" name="description">
    <input type="submit" value="Add">
</form>
<ol hx-target="this">
    {% block list %}
    {% for todo in todos|ref %}
    <li>
        {% if todo.edit %}
        <form method="post" action="/todos/{{todo.id}}">
            <input type="text" name="description" value="{{todo.description}}">
            <input type="checkbox" name="done" value="{{todo.done}}" hidden>
            <input type="submit" value="Update">
        </form>
        {% else %}
        <p {% if todo.done %}class="done" {% endif %}>{{loop.index}}. {{ todo.description }}</p>
        {% if todo.done %}
        <a href="/todos/{{todo.id}}/undo">Undo</a>
        {% else%}
        <a href="/todos/{{todo.id}}/done">Done</a>
        {% endif %}
        <a href="/todos/{{todo.id}}">Edit</a>
        <a href="/todos/{{todo.id}}/delete" hx-delete="/todos/{{todo.id}}">Delete</a>
        {% endif%}
    </li>
    {% endfor %}
    {% endblock list%}
</ol>
{% endblock content %}